/* common */
body,h1,p {
    margin: 0px;
}

/* header */
header {
    /* padding: 16px 0; */
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #fff;
    text-align: right;
    z-index: 1;
}
header div {
    margin: 0 auto;
    width: 80%;
    padding-top: 10px;
}
header a {
    text-decoration: none;
    padding-left: 10px;
    color: gray;
}
header a:hover {
    opacity: 0.5;
}

/* hero */
section.hero {
    height: 300px;
    padding-top: 200px;
}
section.hero h1 {
    text-align: center;
    font-weight: normal;
}
section.hero p {
    text-align: center;
    color: silver;

}

/* logo */
section.logo {
    background-color: #FFFFF0;
    height: 600px;
}
section.logo > .container {
    display: flex;
    margin: 0 auto;
    padding: 20px 0;
    justify-content: center;
    /* width: calc(100% - 10px); */
    /* width: 800px; */
    /* border:solid */
    /* padding: 20px 70px; */
}
section.logo img {
    width: 120px;
    height: 120px;
}
section.logo > .container > .doc {
    width: 200px;
    padding: 0 50px;
    color: gray;
}
section.logo > .container a:hover {
    /* border: solid; */
    opacity: 0.5;
}