/* common */
body,h1,p {
    margin: 0;
    /* padding: 0; */
}

/* ------- */
img {
    vertical-align: bottom;
}

/* header */
header {
    background-color: #efefef;
}
header img {
    width: 120px;
    height: 120px;
}

header .container {
    display: flex;
    margin: 0 auto;
    /* outline: 2px solid red; */
    width: 400px;
}
/* ------- */

/* main */

/* ------- */

/* footer */

/* ------- */